{{store_cat_wuse}}
{% for s in store_cat_wise %}
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 ec-product-content" data-animation="fadeIn">
<div class="ec-product-inner">
<div class="ec-pro-image-outer">
<div class="ec-pro-image">
<a href="/store/?s={{s.store.store.id}}" class="image">
<img class="main-image"
src="{{s.store.store.storeimages.logo.url}}" alt="Product" />
<img class="hover-image"
src="{{s.store.store.storeimages.logo.url}}" alt="Product" />
</a>
</div>
</div>
<div class="ec-pro-content">
<h5 class="ec-pro-title"><a href="product-detail.html">{{s.store.store.name}}</a></h5>
<div class="ec-pro-rating">
{% if s.rating > 3.5 %}
<span class="badge badge-success">{{s.rating}} <i class="fa fa-star"></i></span>
{% endif %}
{% if s.rating <= 3.5 and s.rating > 2.5 %}
<span class="badge badge-info">{{s.rating}} <i class="fa fa-star"></i></span>
{% endif %}
{% if s.rating <= 2.5 %}
<span class="badge badge-danger">{{s.rating}} <i class="fa fa-star"></i></span>
{% endif %}
</div>
<span class="ec-price">
<span class="new-price"><i class="fa fa-inr"></i> {{s.price.price}}</span>
</span>
</div>
</div>
</div>
{% endfor %}