{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block body %}
<style>
.map-container{
    overflow:hidden;
    padding-bottom:46.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:90%;
    width:100%;
    position:absolute;
}
</style>
	<div class="contact_info">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static 'images/contact_1.png' %}" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Phone</div>
								<div class="contact_info_text">+91 068 005 3570</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static 'images/contact_2.png' %}" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Email</div>
								<div class="contact_info_text">sd@gmail.com</div>
							</div>
						</div>

						<!-- Contact Item -->
						<div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
							<div class="contact_info_image"><img src="{% static 'images/contact_3.png' %}" alt=""></div>
							<div class="contact_info_content">
								<div class="contact_info_title">Address</div>
								<div class="contact_info_text">142, Sector-5, Vikas Nager, Lucknow, India Pin 226022</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Form -->

	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						<div class="contact_form_title">Get in Touch</div>
							{% for message in messages %}
								<span class="badge badge-primary">{{message}}</span>
							{% endfor %}
						<form action="/contact/save/" method="POST">
							<div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
								<input type="text" class="contact_form_name input_field" placeholder="Your name" name="name" required>
								<input type="email" class="contact_form_email input_field" placeholder="Your email" name="email" required>
								<input type="tel" class="contact_form_phone input_field" placeholder="Your phone number" name="mobile" required>
							</div>
							<div class="contact_form_text">
								<textarea class="text_field contact_form_message" name="message" rows="4" placeholder="Message" name="message" required></textarea>
							</div>
							<div class="contact_form_button">
								<button type="submit" class="button contact_submit_button">Send Message</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>
	<!--Google map-->
	<div class="container">
		<div id="map-container-google-1" class="z-depth-1-half map-container">
		  <iframe src="https://maps.google.com/maps?q=142 sector 5 vikas nagar Lucknow&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
		  style="border:0" allowfullscreen></iframe>
		</div>
	  </div>
{% endblock %}