{% extends 'usertemplate/base.html'%}
{% load static%}
{% block title %}{{len}} {% if len > 1 %}products{% else %}product{% endif %} found{% endblock %}
{% block content %}
{% if messages %}
{% for mess in messages %}
<div class="alert alert-{{mess.tags}}" role="alert">
    {{mess}}
</div>
{% endfor %}
{% endif %}

<div class="bg-gray-13 bg-md-transparent">
    <div class="container">
        <!-- breadcrumb -->
        <div class="my-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Home     ><a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">  Checkout</li>                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
    </div>
</div>


<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" style="min-height:50px;"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 style="font-size: 40px;" class="text-center">Checkout</h2>
    </div>
</div>

<!-- Shop -->




<div class="shop">
    <div class="container">
        <div class="row">
            {% if address_len != 0 %}
            <div style="padding-top:50px" class="col-lg-7">
                <div  class=" ">
                    <div class="border-bottom border-color-1 mb-5">
                        <h3 style="font-color:white" class="section-title mb-0 pb-2 font-size-25">Select Address</h3>
                    </div>
                </div>
                <!-- Featured -->
                
                <div class="">
                    <div class="">
                      
                        
                        
                        <form action="/ordersummary/" method="POST">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <ul>
                                        {% for x in addresses %}
                                        <li class="mt-0">
                                            <div class="product_details px-4">
                                                
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="address_id" id="exampleRadios1" value="{{x.id}}" {% if x.default %}checked{% endif %}>
                                                  <label class="form-check-label" for="exampleRadios1">
                                                    
                                                    <p class="product-description ">{{x.name}} {% if x.default %}<span class="badge badge-success mx-4"> Default </span>{% endif %} <span class="text-primary">+91-{{ x.contact }}</span></p> 
                                                    <p class="text-dark">{{x.home_no}}, {{x.landmark}}<br>{{x.city}}, {{x.state}} <strong>({{x.pincode}})</strong></p>
                                                  </label>
                                                </div>
                                            
                                           
                                            </div>
                                            <hr>
                                        </li>
                                        {% endfor %}
                                         
                                </ul>
                            </div>
                            
                        </div>
                     
                        

                       
                   
                     </div>
                </div>
            </div>
            {% else %}

            {% endif %}
            <div class="col-lg-5 ">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-gray-1 rounded-lg">
                        <div class="p-4 mb-4 checkout-table">
                            <div class="border-bottom border-color-1 mb-5">
                                <h3>
                                    Your Order id#{{cart.id}}
                                </h3>
                            </div>
                            
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-name">Price</th>
                                    <th class="product-name">Quantity</th>
                                    <!-- <th class="product-name">Tax(%)</th> -->
                                    <th class="product-total"> Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in items %}
                                <tr class="cart_item">
                                    <td style="border-top:0;">{{i.name}}</td>
                                    <td style="border-top:0;">₹{{i.price}}</td>
                                    <td style="border-top:0;">{{i.quantity}}</td>
                                    <!-- <td style="border-top:0;">{{i.tax}}</td> -->
                                    <td style="border-top:0;">₹{{i.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">Subtotal</th>
                                    <input type="hidden" value="{{ cart.subtotal }}" id="subtotal">
                                    <td >₹{{ cart.subtotal }}</td>
                                </tr>
                                <tr>
                                    <input type="hidden" value="{{ cart.delivery_charges }}" id="delivery_charge">
                                    <th colspan="3">Delivery Charge</th>
                                    <td>Flat rate {% if cart.subtotal <= 499 %}{{ cart.delivery_charges }}{% else%} {{0.0}}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th colspan="3">Total</th>
                                    <input type="hidden" value="{{ cart.total }}" id="total_p">
                                    <td><strong id="total_amount_p">₹ {{ cart.total }} </strong></td>
                                </tr>
                            </tfoot>
                        </table>
                        <p style="padding-left: 15px;" class="product-name">Select Plan</p>
                        <div class="form-check" aria-required="true">
                            <input required type="radio" name="plan_type" id="exampleRadios2" value="Binary">
                            <label  for="exampleRadios2">Re-purchase</label>
                            <input  type="radio" name="plan_type" id="exampleRadios3" value="Level">
                            <label for="exampleRadios3">Combo Purchase</label>
                          </div>
                          <div class="shop_bar clearfix bg-primary" style="color:white;padding:10px;border-radius:10px;">
                            {% if cart.subtotal <= 499 %}
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="checkbox"  style="width: 100%;" value="1" id="self" onchange="enable_self_pickup();"{% if cart.self_pickup %}{% endif %}>
                                </div>
                                <div class="col-lg-10">
                                    <strong>SELF PICKUP :</strong> Check this if you want self pick your order. In this case your delivery charge will be zero.
                                </div>
                            </div>
                            {% else%} 
                            
                            {% endif %}
                        </div>
                        <div class="shop-bar clearfix pt-4 text-success">
                            
                                <input type="hidden" value="{{ cart.id }}" name="cart">
                                <button type="submit" class="btn btn-primary" style="width:100%;background-color: red;border-color: red;">Proceed</button>
                            </form>
                        </div>
                     </div>
                    </div>
                    </div>
                </div>
                
                <div style="padding-bottom: 50px;" class="col-lg-7">

                    <div class=" ">
                        <div class="">


                            <div class="border-bottom border-color-1 mb-5">
                                <h3 class="section-title mb-0 pb-2 font-size-25">Add Billing Address</h3>
                            </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <form action="/user/add_new_address" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">Name</label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">House No./Flat No.</label>
                                        <input type="text" name="home_no" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">Location</label>
                                        <input type="text" name="location" id="adrs" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">Landmark/Colony</label>
                                        <input type="text" name="landmark" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">City</label>
                                        <input type="text" name="city" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">Pincode</label>
                                        <input type="text"  pattern="[0-9]{6}" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" maxlength="6" name="pincode" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">State</label>
                                        <input type="text" name="state" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="text-dark">Contact</label>
                                        <input type="text"  onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" maxlength="10" pattern="[7-9]{1}[0-9]{9}" name="contact" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                        <button type="submit" class="btn btn-primary">Add Address</button>
                                    </div>
                            </div>
                        </form>
                       
                        
                     </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Address</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#self").click(function() {
            var checked = $(this).is(':checked');
            var subtotal=$('#subtotal').val();
            var delivery_charge=$('#delivery_charge').val();
            var total_p=$('#total_p').val();
            var total_price=total_p-delivery_charge
            if (checked) {
                $('#total_amount_p').html(total_price)
            } else {
                $('#total_amount_p').html(total_p)
            }
        });
    });

    function enable_self_pickup() {
      self_val = '0';
      if (document.getElementById('self').checked){
        self_val = document.getElementById('self').value;
      }
      cart_id = {{ cart.id }};
    //   console.log(cart_id)
      $.ajax({
            type:'GET',
            url:'/user/enableselfpickup',
            data:{c:cart_id, self:self_val},
            success: function(res_data){
                
            }
        });
   }

   
</script>




{%endblock%}