{% extends 'admin_app/base.html' %}
{% load static %}
{% block title %}Subscription User List{% endblock %}
{% block main %}
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="section-header-breadcrumb-content">
                              <h1>Subscription User List</h1>
                              <div class="section-header-breadcrumb">
                                 <div class="breadcrumb-item active"><a href="/admins/dashboard"><i class="fas fa-home"></i></a></div>
                                 <div class="breadcrumb-item"><a href="#">Subscription User List</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Subscription User List</h4>
                              </div>
                              <div class="card-body">
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>

                                    <div class="row">
                                       <div class="col-lg-12 mt-4 col-md-12 col-sm-12">
      
                     
                                          <div class="table-responsive">
                                             <table class="table table-striped table-hover" style="width:100%;">
                                                <thead>
                                                   <tr>
                                                      <th>Sr. No.</th>
                                                      <th>Vender</th>
                                                      <th>User</th>
                                                      <th>Amount</th>
                                                      <th>Subscribed Months</th>
                                                      <th>Status</th>
                                                      
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   {% for x in data %}

                                                   <tr>
                                                      <td>{{forloop.counter}}</td>
                                                      <td>{{ x.vendor.first_name }} {{ x.vendor.last_name }}</td>
                                                      <td>{{ x.user.usr.first_name }} {{ x.user.usr.last_name }}</td>
                                                      <td><i class="fa fa-inr"></i> {{x.amount}}</td>
                                                      <td>
                                                         {% if x.month > 1 %}
                                                         {{x.month}} Months
                                                         {% else %}
                                                         {{x.month}} Months
                                                         {% endif %}
                                                      </td>
                                                      {% if x.is_active %}
                                                      <td><span class="badge badge-primary">Subscribed</span></td>
                                                      
                                                      {% else %}
                                                      <td>
                                                         <span class="badge badge-danger">Under Review</span>
                                                       
                                                      </td>
                                                      {% endif %}
                                                    </tr>
                                                   
                                                   {% endfor %}
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>

                                    </div>
                                    
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
              
            </div>
{% endblock %}