{% extends 'admin_app/base.html' %}
{% load static %}
{% block title %}TDS Logs{% endblock %}
{% block main %}
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="section-header-breadcrumb-content">
                              <h1>TDS Logs</h1>
                              <div class="section-header-breadcrumb">
                                 <div class="breadcrumb-item active"><a href="/admins/dashboard"><i class="fas fa-home"></i></a></div>
                                 <div class="breadcrumb-item"><a href="#">TDS Logs</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>TDS Logs</h4>
                              </div>
                              <div class="card-body">
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>

                                 <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h4><i class="fa fa-dashcube"></i> Current Total TDS</h4>
                                    <hr style="border-width:5px;border-color:green;border-radius:20px;margin-bottm:10px;">
                                    <h4><i class="fa fa-inr"></i> {% for x in total_tds %}{{x.current_total_tds}}{% endfor %}</h4>
                                 </div>
                                 <div class="table-responsive">
                                    <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                       <thead>
                                          <tr>
                                             <th>Sr. No.</th>
                                             <th>User Email</th>
                                             <th>Users </th>
                                             <th>Current Total TDS Amount</th>
                                             <th>View TDS Log History</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for x in tds_wallet %}
                                          <tr>
                                             <td>{{forloop.counter}}</td>
                                             <td>{{ x.user.email|safe }}</td>
                                             <td>{{ x.user.usr.first_name|safe }} {{ x.user.usr.last_name|safe }}</td>
                                             <td> <i class="fa fa-inr"></i> {{x.current_balance|floatformat:2}}</td>
                                             <td> <a href="{% url 'tds_log_details' x.id %}" target="_blank" title="View TDS Log Details"><img src="/static/show.png"  width="30" height="30"></a> </td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>

               
              
            </div>
{% endblock %}