<!DOCTYPE html>
{% load static %}
{%load binaryfilter_tag %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
      <title>AVPL - {% block title %}{% endblock %}</title>
      
      <!-- General CSS Files -->
      <link rel="stylesheet" href="{% static 'dash/css/app.min.css' %}">
      <link rel="stylesheet" href="{% static 'dash/bundles/jqvmap/dist/jqvmap.min.css' %}">
      <link rel="stylesheet" href="{% static 'dash/bundles/weather-icon/css/weather-icons.min.css' %}">
      <link rel="stylesheet" href="{% static 'dash/bundles/weather-icon/css/weather-icons-wind.min.css' %}">
      <link rel="stylesheet" href="{% static 'dash/bundles/bootstrap-social/bootstrap-social.css' %}">
      <!-- Template CSS -->
      <!-- Template CSS -->
      <link rel="stylesheet" href="{% static 'dash/bundles/datatables/datatables.min.css' %}">
      <link rel="stylesheet" href="{% static 'dash/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">


      <link rel="stylesheet" href="{% static 'dash/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'dash/css/components.css' %}">
      <!-- Custom style CSS -->
      <link rel='shortcut icon' type='image/x-icon' href='{% static 'img/Vector.png' %}' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
   </head>
   <body>
      <div class="loader"></div>
      <div id="app">
         <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
               <div class="form-inline mr-auto">
                  <ul class="navbar-nav mr-3">
                     <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"><i
                        class="fas fa-bars"></i></a></li>
                     <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                        <i class="fas fa-expand"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <ul class="navbar-nav navbar-right">
                  <li class="dropdown dropdown-list-toggle">
                     <a href="#" onclick="mark_notification_read();" data-toggle="dropdown"
                        class="nav-link notification-toggle nav-link-lg"><i class="far fa-bell"></i>{% if notification_len != 0 %}<span class="notification-count bg-green" id="notification_len">{{notification_len}}</span>{% endif %}</a>
                     <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">
                           Notifications
                           <div class="float-right">
                              <a onclick="mark_notification_read();" href="#">Mark All As Read</a>
                           </div>
                        </div>
                        <div class="dropdown-list-content dropdown-list-icons">
                           {% for x in notification %}
                           <a href="#" class="dropdown-item dropdown-item-unread">
                           <span class="dropdown-item-icon l-bg-green text-white">
                           <i class="fa fa-bell"></i>
                           </span>
                           <span class="dropdown-item-desc">
                           {{ x.text|safe }}
                           <span class="time">{{ x.time|safe }}</span>
                           </span>
                           </a>
                           {% endfor %}
                        </div>
                     </div>
                  </li>
                  <li class="dropdown">
                     <a href="#" data-toggle="dropdown"
                        class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                     <img alt="image" src="{% static 'dash/img/user.png' %}" class="user-img-radious-style">
                     <span class="d-sm-none d-lg-inline-block"></span></a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">Hello Staff</div>
                       
                        <div class="dropdown-divider"></div>
                        <a data-toggle="modal" data-target="#logOutModal" href="#" class="dropdown-item has-icon text-danger">
                        <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                     </div>
                  </li>
               </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
               <aside id="sidebar-wrapper">
                  <div class="sidebar-brand">
                     <a href="/staffs/">
                     <img alt="image" src="{% static 'img/Vector.png' %}" class="header-logo" />
                     
                     </a>
                  </div>
                  <ul class="sidebar-menu">
                     <li class="dropdown active" style="display: block;">
                        <div class="sidebar-profile">
                           <div class="siderbar-profile-pic">
                              <img src="{% static 'dash/img/users/user-6.png' %}" class="profile-img-circle box-center" alt="User Image">
                           </div>
                           <div class="siderbar-profile-details">
                              <div class="siderbar-profile-name"> AVPL </div>
                           
                              <div class="siderbar-profile-position">{{ user.first_name|safe }} - Staff </div>
                           </div>
                        </div>
                     </li>
                     <li class="menu-header">Main</li>

                    
                     
                     <li><a class="nav-link" href="/staffs/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a></li>
                     
                     <li class="menu-header">Features</li>

                     {% if user|check_permission:'view_productcategory' %}
                     <li class="dropdown">
                       
                        <a href="#" class="nav-link has-dropdown">
                           <i class="fa fa-shopping-cart"></i><span>Product Categories</span></a>
                        <ul class="dropdown-menu">
                          
                           <li><a class="nav-link" href="/staffs/productcategories">Categories</a></li>
                          
                           {% if user|check_permission:'view_productsubcategory' %}
                           <li><a class="nav-link" href="/staffs/productsubcategories">Sub-Categories</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_productsubsubcategory' %}
                           <li><a class="nav-link" href="/staffs/productsubsubcategories">Sub-Sub-Categories</a></li>
                           {% endif %}
                          
                        </ul>
                     </li>
                     {% endif %}
                    
                     {% if user|check_permission:'view_vendor' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-shopping-basket "></i><span>Vendors</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_product' %}
                           <li><a class="nav-link" href="/staffs/all-products">All Products</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_product' %}
                           <li><a class="nav-link" href="/staffs/productapproval">Product Approval</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_vendor' %}
                           <li><a class="nav-link" href="/staffs/kycrequests">KYC Requests</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_vendor' %}
                           <li><a class="nav-link" href="/staffs/vendor-list"> Vendors List</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_vendorcommission' %}
                           <li><a class="nav-link" href="/staffs/vendor-commission-wallet"> Vendors Commission Wallet</a></li>
                           {% endif %}
                        </ul>
                      
                     </li>
                     {% endif %}

                     {% if request.user.is_superuser %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-sitemap"></i><span>My Affiliates</span></a>
                      
                        <ul class="dropdown-menu">
                         
                           <li><a class="nav-link" href="/staffs/createlink">Create Link</a></li>
                          
                           <li><a class="nav-link" href="/staffs/binary/genealogyTree">Genealogy Binary Tree</a></li>
                           <li><a class="nav-link" href="/staffs/level/genealogyTree">Genealogy Level Tree</a></li>
                           <li><a class="nav-link" href="/staffs/undertrees">Trees Under Staff</a></li>
                           <li><a class="nav-link" href="/staffs/level/underlevel">Referral Under Staff</a></li>
                         
                         
                        </ul>
                     </li>
                     {% endif %}

                      
                     {% if user|check_permission:'view_level_settings' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-sitemap"></i><span>Set PV %</span></a>
                        <ul class="dropdown-menu">
                          
                           <li><a class="nav-link" href="/staffs/settings/">Level Settings</a></li>
                          
                           {% if user|check_permission:'view_pvtransactions' %}
                           <li><a class="nav-link" data-toggle="modal" data-target="#pvmodel" href="#">Set PV On Categories</a></li>
                           <li><a class="nav-link" href="/staffs/setpvpair">Set PV For One Pair</a></li>
                           <li><a class="nav-link" href="/staffs/setpvconversion">Set Matching Income %</a></li>
                           <li><a class="nav-link" href="/staffs/direct-referal">Set Direct Referral Income %</a></li>
                           <li><a class="nav-link" href="/staffs/leadershipbonus">Set Leadership Bonus %</a></li>
                           <li><a class="nav-link" href="/staffs/travelfund">Set Travel Fund %</a></li>
                           <li><a class="nav-link" href="/staffs/carfund">Set Car Fund %</a></li>
                           <li><a class="nav-link" href="/staffs/housefund">Set House Fund %</a></li>
                           <li><a class="nav-link" href="/staffs/directorshipfund">Set Directorship Fund %</a></li>
                           <li><a class="nav-link" href="/staffs/minmumcartvalue/">Set Min Cart Value</a></li>
                           {% endif %}

                        </ul>
                     </li>
                     {% endif %}
        
                     {% if user|check_permission:'view_uservendorcommission' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-sitemap"></i><span>User Vendor Commisionn</span></a>
                        <ul class="dropdown-menu">
                         
                           <li><a class="nav-link" href="/staffs/uservendorcommission">Set User Commision</a></li>
                         
                        </ul>
                     </li>
                     {% endif %}
                   

                     {% if user|check_permission:'view_usersubscription' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-credit-card-alt"></i><span>Subscription Pack</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_subscriptioncharge' %}
                          
                           <li><a class="nav-link" href="/staffs/subscription-pack">Subscription Pack</a></li>
                           {% endif %}

                           {% if user|check_permission:'view_usersubscription' %}
                          
                           <li><a class="nav-link" href="/staffs/userSubscriptionRequest">Subscription User List</a></li>
                           {% endif %}
                        </ul>
                        
                     </li>
                     {% endif %}
                 
                     {% if user|check_permission:'view_orders' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-shopping-bag"></i><span>Orders</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_orders' %}
                           <li><a class="nav-link" href="/staffs/deliverycharges">Delivery Charges</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_orders' %}
                           <li><a class="nav-link" href="/staffs/billing/config/">Billing Request Configuration</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_orders' %}
                           <li><a class="nav-link" href="/staffs/orders">All Orders</a></li>
                           {% endif %}
                        </ul>
                     </li>

                     {% endif %}

                     {% if user|check_permission:'view_wallettransfer' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-money"></i><span>Payments</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_razorpaytransaction' %}
                           <li><a class="nav-link" href="/staffs/paymentinfo">Razorpay Payments</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_userwithdrawrequest' %}
                           <li><a class="nav-link" href="/staffs/withdraw">Withdraw Requests</a></li>
                           {% endif %}
                           {% if request.user.is_superuser %}
                           <li><a class="nav-link" href="/staffs/wallet_details">Wallet Balance</a></li>

                           {% if user|check_permission:'view_wallettransfer' %}
                           
                           <li><a class="nav-link" href="/staffs/balanacetransfers">Wallet Balance Transfer</a></li>
                         {% endif %}
                         {% endif %}
                        
                        </ul>
                     </li>
                     {% endif %}
                   

                     {% if user|check_permission:'view_tds_log' %} 
                 
                     {% elif user|check_permission:'view_tds_log' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-money"></i><span>Taxation</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_gst_log' %}
                           <li><a class="nav-link" href="/staffs/gst_log/"><i class="fa fa-pie-chart"></i><span>GST Logs</span></a></li>
                           {% endif %}
                           {% if user|check_permission:'view_tds_log' %}
                           <li><a class="nav-link" href="/staffs/tds_log/"><i class="fa fa-pie-chart"></i><span>TDS Logs</span></a></li>
                           {% endif %}
                     </ul>
                     </li>
               
                     {% endif %}
                 

                     {% if user|check_permission:'view_aboutus' %}
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa fa-cogs"></i><span>Website Management</span></a>
                        <ul class="dropdown-menu">
                           {% if user|check_permission:'view_aboutus' %}
                           <li><a class="nav-link" href="/staffs/about-us">About Us</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_blog' %}
                           <li><a class="nav-link" href="/staffs/blog">Blog</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_contact_us' %}
                           <li><a class="nav-link" href="/staffs/contact">Contact Us</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_gallery' %}
                           <li><a class="nav-link" href="/staffs/gallery">Gallery</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_homebanner' %}
                           <li><a class="nav-link" href="/staffs/banner">Home Banner</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_privacypolicy' %}
                           <li><a class="nav-link" href="/staffs/privacy">Privacy Policy</a></li>
                           {% endif %}
                           {% if user|check_permission:'view_termsandcondition' %}
                           <li><a class="nav-link" href="/staffs/terms">Terms and Condition</a></li>
                          
                           {% endif %}
                        </ul>
                     </li>
                    
                     {% endif %}
               
                     {% if user|check_permission:'view_user' %}
                        <li><a onclick="subscription_request();" class="nav-link" href="/staffs/users"><i class="fa fa-question-circle "></i><span>Users</span></a></li>
                        {% endif %}

                        {% if user|check_permission:'view_query' %}
                        <li><a class="nav-link" href="/staffs/query"><i class="fa fa-question-circle "></i><span>Query</span></a></li>
                        {% endif %}
                  </ul>
               </aside>
            </div>
            {% block main %}{% endblock %}
            <footer class="main-footer">
               <div class="footer-left">
                  Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved @ GbasketsIndia
                   <div class="bullet"></div>
                 
               </div>
               <div class="footer-right">
               </div>
            </footer>
         </div>
      </div>

      <!-- Point Value Model-->
      <div class="modal fade" id="pvmodel" role="dialog">
        <div class="modal-dialog  modal-md">

            <!-- Modal content-->
            <div class="modal-content glass-modal pb-0 m-0">
                <div class="modal-header">
                     <h4>Set PV On Categories %</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="row" style="padding-left:50px;padding-right:50px;">
                  <form action="/staffs/point" method="GET" style="width:100%;margin:auto;">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                           <label>Select Product Category</label>
                           <select  class="form-control" name="c" required>
                              <option selected disabled  value="">----select product category----</option>
                              {% for x in categories %}
                              <option value="{{ x.id|safe }}">{{ x.name|safe }} </option>
                              {% endfor %}
                           </select >
                        </div>
                     </div>
                     <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                           <input type="submit" class="btn btn-primary btn-lg justify-content-right" value="Open Set PV On Categories">
                        </div>
                     </div>
                  </form>
                </div>
            </div>
        </div>
    </div>


     <!--logout model js popup for confirm or stay-->
     <div id="logOutModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Want to leave ?</h4>
                  <button class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  Press logout to leave !
              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" data-dismiss="modal"><!--model-dismiss la same page ma lauxa-->
                      Stay Here
                  </button>
                  <a class="btn btn-danger"  href="/logout">
                      Logout</a>
              </div>
          </div>
      </div>
  </div>
      <!-- General JS Scripts -->
      <script src="{% static 'dash/js/app.min.js' %}"></script>
      
      <!-- Page Specific JS File -->
      <script src="{% static 'dash/js/page/index2.js' %}"></script>
       <!-- Page Specific JS File -->
      <script src="{% static 'dash/bundles/datatables/datatables.min.js' %}"></script>
       
      <script src="{% static 'dash/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/jszip.min.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
      <script src="{% static 'dash/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
      <script src="{% static 'dash/js/page/datatables.js' %}"></script>
      <!-- Template JS File -->
      <script src="{% static 'dash/js/scripts.js' %}"></script>
      <script src="{% static 'dash/bundles/jquery.sparkline.min.js' %}"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>

      <script type="text/javascript">
         function mark_notification_read () {
            $.ajax({
                  type:'GET',
                  url:"/marknotificationread/",
                  data:{},
                  success: function(msg){
                      document.getElementById('notification_len').style.display = 'none';
                  }
              });
         }
      </script>
      <script>
         // This sample still does not showcase all CKEditor 5 features (!)
         // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.
         CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
             // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
             toolbar: {
                 items: [
                     'exportPDF','exportWord', '|',
                     'findAndReplace', 'selectAll', '|',
                     'heading', '|',
                     'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                     'bulletedList', 'numberedList', 'todoList', '|',
                     'outdent', 'indent', '|',
                     'undo', 'redo',
                     '-',
                     'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                     'alignment', '|',
                     'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                     'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                     'textPartLanguage', '|',
                     'sourceEditing'
                 ],
                 shouldNotGroupWhenFull: true
             },
             // Changing the language of the interface requires loading the language file using the <script> tag.
             // language: 'es',
             list: {
                 properties: {
                     styles: true,
                     startIndex: true,
                     reversed: true
                 }
             },
             // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
             heading: {
                 options: [
                     { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                     { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                     { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                     { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                     { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                     { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                     { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                 ]
             },
             // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
             placeholder: 'Enter Description Here',
             // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
             fontFamily: {
                 options: [
                     'default',
                     'Arial, Helvetica, sans-serif',
                     'Courier New, Courier, monospace',
                     'Georgia, serif',
                     'Lucida Sans Unicode, Lucida Grande, sans-serif',
                     'Tahoma, Geneva, sans-serif',
                     'Times New Roman, Times, serif',
                     'Trebuchet MS, Helvetica, sans-serif',
                     'Verdana, Geneva, sans-serif'
                 ],
                 supportAllValues: true
             },
             // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
             fontSize: {
                 options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                 supportAllValues: true
             },
             // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
             // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
             htmlSupport: {
                 allow: [
                     {
                         name: /.*/,
                         attributes: true,
                         classes: true,
                         styles: true
                     }
                 ]
             },
             // Be careful with enabling previews
             // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
             htmlEmbed: {
                 showPreviews: true
             },
             // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
             link: {
                 decorators: {
                     addTargetToExternalLinks: true,
                     defaultProtocol: 'https://',
                     toggleDownloadable: {
                         mode: 'manual',
                         label: 'Downloadable',
                         attributes: {
                             download: 'file'
                         }
                     }
                 }
             },
             // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
             mention: {
                 feeds: [
                     {
                         marker: '@',
                         feed: [
                             '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                             '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                             '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                             '@sugar', '@sweet', '@topping', '@wafer'
                         ],
                         minimumCharacters: 1
                     }
                 ]
             },
             // The "super-build" contains more premium features that require additional configuration, disable them below.
             // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
             removePlugins: [
                 // These two are commercial, but you can try them out without registering to a trial.
                 // 'ExportPdf',
                 // 'ExportWord',
                 'CKBox',
                 'CKFinder',
                 'EasyImage',
                 // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                 // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                 // Storing images as Base64 is usually a very bad idea.
                 // Replace it on production website with other solutions:
                 // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                 // 'Base64UploadAdapter',
                 'RealTimeCollaborativeComments',
                 'RealTimeCollaborativeTrackChanges',
                 'RealTimeCollaborativeRevisionHistory',
                 'PresenceList',
                 'Comments',
                 'TrackChanges',
                 'TrackChangesData',
                 'RevisionHistory',
                 'Pagination',
                 'WProofreader',
                 // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                 // from a local file system (file://) - load this site via HTTP server if you enable MathType
                 'MathType'
             ]
         });
     </script>
      {% block scripts %}{% endblock %}
   </body>
</html>