{% extends 'staff_app/base.html' %}
{% load static %}
{% block title %}Level Settings{% endblock %}
{%load binaryfilter_tag %}
{% block main %}
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="section-header-breadcrumb-content">
                              <h1>Level Settings</h1>
                              <div class="section-header-breadcrumb">
                                 <div class="breadcrumb-item active"><a href="/staffs/dashboard"><i class="fas fa-home"></i></a></div>
                                 <div class="breadcrumb-item"><a href="#">Configure Level Plan</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        {% if data_len > 0 %}
                        <div class="col-lg-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Current Level Distribution Plan</h4>
                              </div>
                              <div class="card-body">
                                 <table class="table"style="width:100%;">
                                       <thead>
                                          <tr>
                                             <th>Level</th>
                                             <th>Percent</th>
                                          </tr>
                                       </thead>
                                       <tbody id="groups-table">
                                          {% for x in data %}
                                          <tr>
                                             <td style="font-weight: bold;">LEVEL - {{x.level}}</td>
                                             <td style="font-weight: bold;">{{x.percent}} %</td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                              </div>
                           </div>
                        </div>
                        {% endif %}
                        <div class="col-lg-12">

                           {% if user|check_permission:'change_level_settings' %}
                           <div class="card">
                              <div class="card-header">
                                 <h4>Level Settings</h4>
                                 
                              </div>
                              <div class="card-body">
                                 <p><strong>NOTE : </strong>Complete both the steps of configuration, to enable the Level MLM System.</p>
                                 <div><span class="btn btn-primary" style="font-size:20px;">Number of Levels : <span style="font-weight:bold;">{{ level.levels }} Levels</span></span></div>
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>
                                 <form action="/admins/settings/" method="POST">
                                    <div class="row">
                                      
                                       <div class="col-lg-6 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Number of Levels</label>
                                             <input type="number" step=0.01 onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"

                                             class="form-control" placeholder="Enter Number of Levels Here" name="levels" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-6 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Number of Groups</label>
                                             <input type="number" step=0.01 onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"

                                              class="form-control" placeholder="Enter Number of Groups" name="groups" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-12 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <input type="submit" class="btn btn-primary btn-lg" value="Configure">
                                          </div>
                                       </div>
                                      
                                    </div>
                                 </form>
                              </div>
                           </div>
                           {%  endif %}
                        </div>
                        <div class="col-lg-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Level Groups Settings</h4>
                              </div>
                              <div class="card-body">
                                 <div class="table-responsive">
                                    <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                       <thead>
                                          <tr>
                                             <th>Sr. No.</th>
                                             <th>Group Name</th>
                                             <th>No. of Levels</th>
                                             <th>% Per Level</th>
                                             {% if user|check_permission:'change_level_group' %}
                                             <th>Action</th>
                                             {% endif %}
                                          </tr>
                                       </thead>
                                       <tbody id="groups-table">
                                          {% for x in groups %}
                                          <tr>
                                             <td>{{forloop.counter}}</td>
                                             <td>Group - {{ forloop.counter }}</td>
                                             <td>{{ x.no_of_levels|safe }} Levels</td>
                                             <td>{{x.percent_per_level}} %</td>
                                             {% if user|check_permission:'change_level_group' %}
                                             <td><a href="#" data-toggle="modal" data-target="#editgroup" onclick="open_group_edit('{{x.id}}');" class="btn btn-primary">Edit</a></td>
                                             {% endif %}
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
              
            </div>
   <div class="modal fade" id="editgroup" role="dialog">
        <div class="modal-dialog  modal-md">
           <!-- Modal content-->
            <div class="modal-content glass-modal pb-0 m-0">
                <div class="modal-header">
                     <h4>Edit Group - <span id="group_name"></span></h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
               <div class="p-4">
                  <div class="row p-2">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Number of Levels</label>
                           <input type="number" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"  id="group_level"   placeholder="Enter No. of Levels in this Group" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label>Percentage Per Level</label>
                           <input type="number" step=0.01 onkeydown="javascript: return event.keyCode == 69 ? false : true" id="group_percent" placeholder="Enter Percentage Per Level" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <input type="hidden" id="group_id">
                        <button class="btn btn-primary" onclick="edit_group();">Save</button>
                        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        <span class="badge badge-primary mt-2" id="group_msg"></span>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script type="">
function fetch_groups(){
    $.ajax({
        type:'GET',
        url:'/admins/fetchgroups/',
        data:{},
        success: function(res){
            document.getElementById('groups-table').innerHTML = res;            
        },
        error: function(res){
        }
    });
}
function open_group_edit(group_id){
   document.getElementById('group_id').value = group_id;
   document.getElementById('group_name').innerHTML = group_id;
   document.getElementById('group_msg').innerHTML = '';
}
function edit_group(){
   levels = document.getElementById('group_level').value;
   percent = document.getElementById('group_percent').value;
   group_id = document.getElementById('group_id').value;
    $.ajax({
        type:'POST',
        url:'/admins/edit/group/',
        data:{levels:levels, percent:percent, group_id:group_id},
        success: function(res){
            if(res.response == 'Success'){
               document.getElementById('group_msg').innerHTML = 'Group Edited Successfully';
               fetch_groups();
            }
            else{
               document.getElementById('group_msg').innerHTML = 'Level Limit Reached or Improper Percent Configuration';
            }
        },
        error: function(res){
        }
    });
}
</script>
{% endblock %}
