{% extends 'staff_app/base.html' %}
{% load static %}
{% block title %}Point Value{% endblock %}
{%load binaryfilter_tag %}
{% block main %}
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="section-header-breadcrumb-content">
                              <h1>Point Value</h1>
                              <div class="section-header-breadcrumb">
                                 <div class="breadcrumb-item active"><a href="/staffs/dashboard"><i class="fas fa-home"></i></a></div>
                                 <div class="breadcrumb-item"><a href="#">Point Value</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Update Point Value % of {{ point.category.name|safe }}</h4>
                              </div>
                              <div class="card-body">
                                 <p><strong>NOTE : </strong>Set percentage of PV that has to be transfered in customer's PV Wallet on every purchase. This percentage is applicable on product categories.</p>
                                 <div><span class="btn btn-primary" style="font-size:20px;">Current Point Value % : <span style="font-weight:bold;">{{ point.percentage }}%</span></span></div>
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>
                                 {% if user|check_permission:'change_commission' %}
                                 <form action="/admins/point/" method="POST">
                                    <div class="row">
                                       
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>New Point Value %</label>
                                             <input type="hidden" value="{{ point.category.id|safe }}" name="category">
                                             <input type="number" step=0.01 onkeydown="javascript: return event.keyCode == 69 ? false : true"  class="form-control" placeholder="Enter Here...." name="new" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-12 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <input type="submit" class="btn btn-primary btn-lg justify-content-right" value="Change Point Value">
                                          </div>
                                       </div>

                                    </div>
                                 </form>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
              
            </div>
{% endblock %}
