{% extends 'staff_app/base.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock %}
{%load binaryfilter_tag %}
{% block main %}
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="section-header-breadcrumb-content">
                              <h1>{{product.name}}</h1>
                              <div class="section-header-breadcrumb">
                                 <div class="breadcrumb-item active"><a href="/staffs/dashboard"><i class="fas fa-home"></i></a></div>
                                 <div class="breadcrumb-item"><a href="#">{{product.name}}</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>{{product.name}}</h4>
                              </div>
                              <div class="card-body">
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>
                                 <form action="/staffs/productbasicedit" method="POST">
                                    <div class="row">
                                       
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label> Category *</label>
                                             <input type="text" class="form-control" value="{{product.category.name}}" disabled>
                                          </div>
                                       </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Sub Category </label>
                                             <input type="text" class="form-control" value="{{product.subcategory.name}}" disabled>
                                          </div>
                                       </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Sub Sub Category </label>
                                             <input type="text" class="form-control" value="{{product.subsubcategory.name}}" disabled>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Brand</label>
                                             <input type="text" class="form-control" value="{{product.brand.name}}" disabled>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Product Title/Name</label>
                                             <input type="text" class="form-control" value="{{product.name}}" name="name" required>
                                          </div>
                                       </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Description</label>
                                             <input id="editor" type="text" class="form-control" value="{{product.description}}" name="des" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>MRP (in Rupees)</label>
                                             <input type="number" class="form-control" value="{{product.mrp}}" name="mrp" required>
                                          </div>
                                       </div> 
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Price (in Rupees)</label>
                                             <input type="number" class="form-control" value="{{product.price}}" name="price" required>
                                          </div>
                                       </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Product Quantity/Current Stock</label>
                                             <input type="number" class="form-control" value="{{product.stock}}" name="stock" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Weight (KG)</label>
                                             <input type="text" class="form-control" value="{{product.weight}}" name="weight">
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                          <label> Offer </label>
                                          <select class="form-control"  name="offer" id="category">
                                             <option value="{% if product.offer == True %}1{% else %}0{% endif %}"  >{% if product.offer == True %}Available{% else %}Not Available{% endif %}</option>
                                             <option value="1">Available</option>
                                             <option value="0">Not Available</option>
                                          </select>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                          <label> Offer Discount(%)</label>
                                          <input type="text" class="form-control"value="{{product.discount}}" placeholder="Enter Here...." name="discount">
                                          </div>
                                       </div>
                                       {% if user|check_permission:'change_product' %}
                                       <div class="col-lg-4 col-md-12 col-sm-12">
                                          <div class="form-group">
                                             <label>Click on save to make changes</label>
                                             <input type="hidden" value="{{product.id}}" name="id">
                                             <input type="submit" class="btn btn-primary btn-lg justify-content-right" value="Save">
                                             
                                          </div>
                                       </div>
                                       {% endif %}

                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>{{product.name}} - IMAGES</h4>
                              </div>
                              <div class="card-body">
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>
                                 <div class="table-responsive">
                                    <table class="table table-striped table-hover" style="width:100%;">
                                       <thead>
                                          <tr>
                                             <th>Image</th>
                                             {% if user|check_permission:'delete_product' %}
                                             <th>Option</th>
                                             {% endif %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for image in images %}
                                          <tr id="{{image.id}}">
                                             <td><img style="width:100px;height:100px;" src="{{ image.image.url }}"></td>
                                             {% if user|check_permission:'delete_product' %}
                                             <td>
                                                
                                                <button class="btn btn-primary btn-icon icon-left" onclick="delete_image({{image.id}})"><i class="fas fa-times"></i>Delete</button>
                                              
                                             </td>
                                             {% endif  %}
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="section-body">
                     <div class="row">
                        <div class="col-12">
                           <div class="card">
                              <div class="card-header">
                                 <h4>{{product.name}} - VARIANTS</h4>
                              </div>
                              <div class="card-body">
                                 
                                 <ul style="margin-bottom:20px;">
                                    {% for message in messages %}
                                    <li><span style="font-weight:bold;font-size:15px;color:red;">{{message}}</span></li>
                                    {% endfor %}
                                 </ul>
                                 <div class="table-responsive">
                                    <table class="table table-striped table-hover" style="width:100%;">
                                       <thead>
                                          <tr>
                                             <th>Variant</th>
                                             <th>Value</th>
                                             <th>Stock</th>
                                             {% if user|check_permission:'delete_product' %}
                                             <th>Option</th>
                                             {% endif %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for variant in variants %}
                                          <tr id="{{variant.id}}">
                                             <td>{{variant.variant.name}}</td>
                                             <td>{{variant.variant_value.value}}</td>
                                             <td>{{variant.variant_stock}}</td>
                                             {% if user|check_permission:'delete_product' %}
                                             <td><button class="btn btn-primary" onclick="delete_variant({{variant.id}});"><i class="fa fa-times"></i> Delete</button></td>
                                             {% endif %}
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </section>
              
            </div>
<script type="text/javascript">
   function fetch_sub_category () {
      category_id = document.getElementById('category').value;
      $.ajax({
            type:'GET',
            url:'/admin_app/fetchsubcategory',
            data:{cate:category_id},

            success: function(msg){
                $('#subcategory').html(msg);
            }
        });
   }

   function fetch_sub_sub_category () {
      subcategory_id = document.getElementById('subcategory').value;
      $.ajax({
            type:'GET',
            url:'/admin_app/fetchsubsubcategory',
            data:{subcate:subcategory_id},

            success: function(msg){
                $('#subsubcategory').html(msg);
            }
        });
   }

   function delete_image (image) {
      $.ajax({
            type:'GET',
            url:'/admin_app/deleteproductimage',
            data:{i:image},

            success: function(msg){
                document.getElementById(image).style.display = 'none';
            }
        });
   }

   function delete_variant (variant) {
      $.ajax({
            type:'GET',
            url:'/vendor/deleteproductvariant',
            data:{i:variant},

            success: function(msg){
                document.getElementById(variant).style.display = 'none';
            }
        });
   }
</script>
{% endblock %}
